In [ ]:
%pip install pandas
%pip install numpy

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
rides_data = pd.read_csv("rides_go.csv")
subscription_types_data = pd.read_csv("subscriptions_go.csv")
users_data = pd.read_csv("users_go.csv")

In [ ]:
rides_data.head()

In [ ]:
users_data.head()

In [ ]:
users_data["subscription_type"].unique()

In [ ]:
subscription_types_data.head()

## Будет ли помесячная выручка от пользователей с подпиской по месяцам выше, чем выручка от пользователей без подписки?

In [ ]:
combined_data = pd.merge(rides_data, users_data, on="user_id")
combined_data = pd.merge(combined_data, subscription_types_data, on="subscription_type")
combined_data["date"] = pd.to_datetime(combined_data["date"], format="ISO8601")

In [ ]:
combined_data.head()

In [ ]:
rides_count = combined_data["user_id"].value_counts()
rides_duration = None

In [ ]:
rides_user_data = rides_count.reset_index()

In [ ]:
rides_user_data = pd.merge(rides_user_data, users_data.drop_duplicates("user_id"), on="user_id")

In [ ]:
rides_user_data.sample(10)

In [108]:
cd_grouped = combined_data.groupby(by=[pd.Grouper(freq="M", key="date")])
cd_grouped_iter = cd_grouped.__iter__()

In [112]:
for df in cd_grouped:
    display(df[0])
    display(df[1])

(Timestamp('2021-01-31 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
0,1,4409.919140,25.599769,2021-01-01,Кира,22,Тюмень,ultra,6,0,199
1,1,2617.592153,15.816871,2021-01-18,Кира,22,Тюмень,ultra,6,0,199
23,3,3061.777147,12.654443,2021-01-31,Алексей,20,Москва,ultra,6,0,199
49,5,3914.646990,12.395153,2021-01-18,Адель,28,Омск,ultra,6,0,199
70,7,3015.259833,16.958292,2021-01-10,Игорь,23,Омск,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18310,1530,105.796106,12.244145,2021-01-21,Ростислав,29,Сочи,free,8,50,0
18326,1531,711.666072,12.581480,2021-01-03,Никита,25,Пятигорск,free,8,50,0
18349,1532,2615.477834,14.846434,2021-01-06,Алексей,26,Тюмень,free,8,50,0
18362,1533,3438.600356,20.315801,2021-01-07,Степан,22,Краснодар,free,8,50,0
18375,1534,4678.415899,15.228198,2021-01-20,Альберт,25,Краснодар,free,8,50,0

(Timestamp('2021-02-28 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
24,3,2560.495330,16.534984,2021-02-24,Алексей,20,Москва,ultra,6,0,199
25,3,2860.656686,21.033653,2021-02-26,Алексей,20,Москва,ultra,6,0,199
35,4,2905.428908,27.847794,2021-02-10,Константин,26,Ростов-на-Дону,ultra,6,0,199
36,4,3434.267839,20.302804,2021-02-16,Константин,26,Ростов-на-Дону,ultra,6,0,199
50,5,2561.108241,11.087710,2021-02-24,Адель,28,Омск,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18311,1530,2724.331740,16.859991,2021-02-23,Ростислав,29,Сочи,free,8,50,0
18327,1531,450.981518,15.591699,2021-02-14,Никита,25,Пятигорск,free,8,50,0
18328,1531,2571.497092,22.120517,2021-02-27,Никита,25,Пятигорск,free,8,50,0
18363,1533,310.488247,10.642389,2021-02-21,Степан,22,Краснодар,free,8,50,0
18376,1534,2103.914120,13.425579,2021-02-28,Альберт,25,Краснодар,free,8,50,0

(Timestamp('2021-03-31 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
12,2,3105.086678,24.307514,2021-03-15,Станислав,31,Омск,ultra,6,0,199
13,2,3053.519401,11.543256,2021-03-18,Станислав,31,Омск,ultra,6,0,199
14,2,4029.116927,25.109188,2021-03-23,Станислав,31,Омск,ultra,6,0,199
51,5,3380.769996,14.659343,2021-03-01,Адель,28,Омск,ultra,6,0,199
52,5,4194.713218,21.680107,2021-03-13,Адель,28,Омск,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18313,1530,3244.705778,17.734117,2021-03-31,Ростислав,29,Сочи,free,8,50,0
18364,1533,3508.941165,19.772353,2021-03-20,Степан,22,Краснодар,free,8,50,0
18365,1533,2965.546552,23.687138,2021-03-23,Степан,22,Краснодар,free,8,50,0
18366,1533,3848.116660,27.989727,2021-03-26,Степан,22,Краснодар,free,8,50,0
18367,1533,2500.091900,20.714680,2021-03-26,Степан,22,Краснодар,free,8,50,0

(Timestamp('2021-04-30 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
2,1,754.159807,6.232113,2021-04-20,Кира,22,Тюмень,ultra,6,0,199
15,2,2805.786329,20.652145,2021-04-08,Станислав,31,Омск,ultra,6,0,199
16,2,3358.595495,18.396489,2021-04-13,Станислав,31,Омск,ultra,6,0,199
26,3,2956.651632,20.671364,2021-04-12,Алексей,20,Москва,ultra,6,0,199
54,5,3373.080412,14.904990,2021-04-24,Адель,28,Омск,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18331,1531,2792.013919,19.204475,2021-04-20,Никита,25,Пятигорск,free,8,50,0
18332,1531,2999.913238,19.473410,2021-04-30,Никита,25,Пятигорск,free,8,50,0
18350,1532,842.097458,8.608989,2021-04-01,Алексей,26,Тюмень,free,8,50,0
18368,1533,2514.498956,17.429371,2021-04-23,Степан,22,Краснодар,free,8,50,0
18377,1534,3434.290912,14.366248,2021-04-29,Альберт,25,Краснодар,free,8,50,0

(Timestamp('2021-05-31 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
27,3,2756.975841,18.519025,2021-05-07,Алексей,20,Москва,ultra,6,0,199
28,3,2837.317332,24.476276,2021-05-21,Алексей,20,Москва,ultra,6,0,199
29,3,3469.733745,18.409201,2021-05-22,Алексей,20,Москва,ultra,6,0,199
55,5,2579.052128,17.189725,2021-05-08,Адель,28,Омск,ultra,6,0,199
56,5,3244.021903,14.110055,2021-05-30,Адель,28,Омск,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18333,1531,2722.745253,17.283258,2021-05-07,Никита,25,Пятигорск,free,8,50,0
18334,1531,4175.543693,28.702175,2021-05-15,Никита,25,Пятигорск,free,8,50,0
18335,1531,4194.794431,13.067507,2021-05-27,Никита,25,Пятигорск,free,8,50,0
18336,1531,2433.077987,11.110260,2021-05-30,Никита,25,Пятигорск,free,8,50,0
18351,1532,303.787850,7.792490,2021-05-21,Алексей,26,Тюмень,free,8,50,0

(Timestamp('2021-06-30 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
17,2,3255.338202,13.851127,2021-06-20,Станислав,31,Омск,ultra,6,0,199
37,4,3312.286135,22.463675,2021-06-06,Константин,26,Ростов-на-Дону,ultra,6,0,199
38,4,3440.755671,21.143844,2021-06-27,Константин,26,Ростов-на-Дону,ultra,6,0,199
76,7,2508.554171,18.271385,2021-06-16,Игорь,23,Омск,ultra,6,0,199
87,8,3892.720292,26.966401,2021-06-23,Юрий,23,Краснодар,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18337,1531,3666.771016,21.857366,2021-06-12,Никита,25,Пятигорск,free,8,50,0
18338,1531,375.107762,5.406654,2021-06-27,Никита,25,Пятигорск,free,8,50,0
18369,1533,1034.998188,6.299996,2021-06-23,Степан,22,Краснодар,free,8,50,0
18378,1534,195.447469,6.469074,2021-06-11,Альберт,25,Краснодар,free,8,50,0
18379,1534,3214.021065,18.343604,2021-06-18,Альберт,25,Краснодар,free,8,50,0

(Timestamp('2021-07-31 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
18,2,3942.817648,20.142725,2021-07-02,Станислав,31,Омск,ultra,6,0,199
19,2,2837.905316,26.027432,2021-07-18,Станислав,31,Омск,ultra,6,0,199
30,3,2727.653704,19.589171,2021-07-04,Алексей,20,Москва,ultra,6,0,199
31,3,2856.729609,20.082575,2021-07-07,Алексей,20,Москва,ultra,6,0,199
32,3,5335.212090,25.848038,2021-07-14,Алексей,20,Москва,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18340,1531,3009.340089,19.448586,2021-07-18,Никита,25,Пятигорск,free,8,50,0
18352,1532,3735.879274,17.339698,2021-07-08,Алексей,26,Тюмень,free,8,50,0
18370,1533,3574.289098,13.578294,2021-07-20,Степан,22,Краснодар,free,8,50,0
18371,1533,2309.366191,17.773415,2021-07-28,Степан,22,Краснодар,free,8,50,0
18372,1533,2888.863240,15.555453,2021-07-28,Степан,22,Краснодар,free,8,50,0

(Timestamp('2021-08-31 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
3,1,2694.783254,18.511000,2021-08-11,Кира,22,Тюмень,ultra,6,0,199
4,1,4028.687306,26.265803,2021-08-28,Кира,22,Тюмень,ultra,6,0,199
20,2,923.007439,6.914760,2021-08-03,Станислав,31,Омск,ultra,6,0,199
42,4,4649.488243,35.896929,2021-08-14,Константин,26,Ростов-на-Дону,ultra,6,0,199
58,5,2720.817111,17.046260,2021-08-10,Адель,28,Омск,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18353,1532,4171.818375,13.631348,2021-08-13,Алексей,26,Тюмень,free,8,50,0
18354,1532,4602.642357,32.013212,2021-08-21,Алексей,26,Тюмень,free,8,50,0
18373,1533,4581.943632,21.163887,2021-08-27,Степан,22,Краснодар,free,8,50,0
18380,1534,3644.708038,20.289416,2021-08-08,Альберт,25,Краснодар,free,8,50,0
18381,1534,3977.744996,26.916544,2021-08-20,Альберт,25,Краснодар,free,8,50,0

(Timestamp('2021-09-30 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
33,3,2891.012822,22.390055,2021-09-04,Алексей,20,Москва,ultra,6,0,199
65,6,3346.098372,19.566626,2021-09-27,Регина,25,Краснодар,ultra,6,0,199
96,9,2536.038610,13.144154,2021-09-20,Ян,21,Пятигорск,ultra,6,0,199
110,11,2705.265237,15.796997,2021-09-01,Агата,31,Краснодар,ultra,6,0,199
127,13,4478.704937,25.143279,2021-09-23,Ева,24,Краснодар,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18285,1528,182.743404,3.730974,2021-09-15,Анна,25,Пятигорск,free,8,50,0
18286,1528,3271.361665,13.346748,2021-09-17,Анна,25,Пятигорск,free,8,50,0
18305,1529,780.881519,6.346635,2021-09-14,Любовь,29,Москва,free,8,50,0
18344,1531,2544.427146,20.633281,2021-09-11,Никита,25,Пятигорск,free,8,50,0
18382,1534,4928.173852,22.560373,2021-09-13,Альберт,25,Краснодар,free,8,50,0

(Timestamp('2021-10-31 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
5,1,2770.890808,16.650138,2021-10-09,Кира,22,Тюмень,ultra,6,0,199
6,1,3039.020292,14.927879,2021-10-19,Кира,22,Тюмень,ultra,6,0,199
21,2,2824.636598,18.779128,2021-10-27,Станислав,31,Омск,ultra,6,0,199
43,4,2333.794808,16.779316,2021-10-08,Константин,26,Ростов-на-Дону,ultra,6,0,199
44,4,3893.486227,21.984968,2021-10-24,Константин,26,Ростов-на-Дону,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18322,1530,2310.897654,22.903847,2021-10-23,Ростислав,29,Сочи,free,8,50,0
18323,1530,1753.048349,16.207316,2021-10-28,Ростислав,29,Сочи,free,8,50,0
18345,1531,4660.027084,17.985772,2021-10-17,Никита,25,Пятигорск,free,8,50,0
18346,1531,2946.866237,14.629427,2021-10-22,Никита,25,Пятигорск,free,8,50,0
18355,1532,2891.115711,20.129839,2021-10-07,Алексей,26,Тюмень,free,8,50,0

(Timestamp('2021-11-30 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
7,1,2842.118050,23.117468,2021-11-06,Кира,22,Тюмень,ultra,6,0,199
8,1,3412.690668,15.238072,2021-11-14,Кира,22,Тюмень,ultra,6,0,199
9,1,748.690645,15.041884,2021-11-22,Кира,22,Тюмень,ultra,6,0,199
47,4,724.559572,11.811399,2021-11-14,Константин,26,Ростов-на-Дону,ultra,6,0,199
48,4,2618.465719,15.855397,2021-11-25,Константин,26,Ростов-на-Дону,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18374,1533,3414.448028,25.657792,2021-11-09,Степан,22,Краснодар,free,8,50,0
18383,1534,3781.098080,19.822962,2021-11-04,Альберт,25,Краснодар,free,8,50,0
18384,1534,2840.423057,21.409799,2021-11-16,Альберт,25,Краснодар,free,8,50,0
18385,1534,3826.185507,18.435051,2021-11-18,Альберт,25,Краснодар,free,8,50,0
18386,1534,2902.308661,16.674362,2021-11-27,Альберт,25,Краснодар,free,8,50,0

(Timestamp('2021-12-31 00:00:00'),)

,user_id,distance,duration,date,name,age,city,subscription_type,minute_price,start_ride_price,subscription_fee
10,1,4031.020195,17.674448,2021-12-14,Кира,22,Тюмень,ultra,6,0,199
11,1,2720.609748,9.529463,2021-12-22,Кира,22,Тюмень,ultra,6,0,199
22,2,3828.248580,11.920514,2021-12-18,Станислав,31,Омск,ultra,6,0,199
34,3,2593.381928,12.984728,2021-12-14,Алексей,20,Москва,ultra,6,0,199
68,6,4281.568595,20.880543,2021-12-07,Регина,25,Краснодар,ultra,6,0,199
...,...,...,...,...,...,...,...,...,...,...,...
18260,1526,3644.121544,22.665456,2021-12-19,Александра,23,Омск,free,8,50,0
18291,1528,3998.569324,10.272902,2021-12-02,Анна,25,Пятигорск,free,8,50,0
18360,1532,4551.698449,31.007839,2021-12-21,Алексей,26,Тюмень,free,8,50,0
18361,1532,1560.191404,9.120383,2021-12-28,Алексей,26,Тюмень,free,8,50,0
18387,1534,2371.711192,15.893917,2021-12-29,Альберт,25,Краснодар,free,8,50,0