In [85]:
%pip install pandas
%pip install numpy

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\danil\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\danil\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in c:\python311\lib\site-packages (1.26.0)
Note: you may need to restart the kernel to use updated packages.

In [86]:
import pandas as pd
import numpy as np

In [87]:
data = pd.read_csv("./yandex_music_project.csv")

In [88]:
data.head(3)

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Saint-Petersburg,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Moscow,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Saint-Petersburg,20:58:07,Wednesday

In [89]:
data.tail(3)

,userID,Track,artist,genre,City,time,Day
65076,C5E3A0D5,Jalopiina,NaN,industrial,Moscow,20:09:26,Friday
65077,321D0506,Freight Train,Chas McDevitt,rock,Moscow,21:43:59,Friday
65078,3A64EF84,Tell Me Sweet Little Lies,Monica Lopez,country,Moscow,21:59:46,Friday

In [90]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63848 non-null  object
 2   artist    57876 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

In [91]:
data["genre"].unique()

array(['rock', 'pop', 'folk', 'dance', 'rusrap', 'ruspop', 'world',
       'electronic', nan, 'alternative', 'children', 'rnb', 'hip', 'jazz',
       'postrock', 'latin', 'classical', 'metal', 'reggae', 'tatar',
       'blues', 'instrumental', 'rusrock', 'dnb', 'türk', 'post',
       'country', 'psychedelic', 'conjazz', 'indie', 'posthardcore',
       'local', 'avantgarde', 'punk', 'videogame', 'techno', 'house',
       'christmas', 'melodic', 'caucasian', 'reggaeton', 'soundtrack',
       'singer', 'ska', 'shanson', 'ambient', 'film', 'western', 'rap',
       'beats', "hard'n'heavy", 'progmetal', 'minimal', 'contemporary',
       'new', 'soul', 'holiday', 'german', 'tropical', 'fairytail',
       'spiritual', 'urban', 'gospel', 'nujazz', 'folkmetal', 'trance',
       'miscellaneous', 'anime', 'hardcore', 'progressive', 'chanson',
       'numetal', 'vocal', 'estrada', 'russian', 'classicmetal',
       'dubstep', 'club', 'deep', 'southern', 'black', 'folkrock',
       'fitness', 'french', 'disco', 'religious', 'hiphop', 'drum',
       'extrememetal', 'türkçe', 'experimental', 'easy', 'metalcore',
       'modern', 'argentinetango', 'old', 'breaks', 'eurofolk',
       'stonerrock', 'industrial', 'funk', 'jpop', 'middle', 'variété',
       'other', 'adult', 'christian', 'gothic', 'international', 'muslim',
       'relax', 'schlager', 'caribbean', 'ukrrock', 'nu', 'breakbeat',
       'comedy', 'chill', 'newage', 'specialty', 'uzbek', 'k-pop',
       'balkan', 'chinese', 'meditative', 'dub', 'power', 'death',
       'grime', 'arabesk', 'romance', 'flamenco', 'leftfield', 'european',
       'tech', 'newwave', 'dancehall', 'mpb', 'piano', 'top', 'bigroom',
       'opera', 'celtic', 'tradjazz', 'acoustic', 'epicmetal', 'hip-hop',
       'historisch', 'downbeat', 'downtempo', 'africa', 'audiobook',
       'jewish', 'sängerportrait', 'deutschrock', 'eastern', 'action',
       'future', 'electropop', 'folklore', 'bollywood', 'marschmusik',
       'rnr', 'karaoke', 'indian', 'rancheras', 'электроника',
       'afrikaans', 'tango', 'rhythm', 'sound', 'deutschspr', 'trip',
       'lovers', 'choral', 'dancepop', 'podcasts', 'retro', 'smooth',
       'mexican', 'brazilian', 'ïîï', 'mood', 'surf', 'author', 'gangsta',
       'triphop', 'inspirational', 'idm', 'ethnic', 'bluegrass',
       'broadway', 'animated', 'americana', 'karadeniz', 'rockabilly',
       'colombian', 'self', 'hop', 'synthrock', 'sertanejo', 'japanese',
       'canzone', 'swing', 'lounge', 'sport', 'korean', 'ragga',
       'traditional', 'gitarre', 'frankreich', 'alternativepunk', 'emo',
       'laiko', 'cantopop', 'glitch', 'documentary', 'rockalternative',
       'thrash', 'hymn', 'oceania', 'rockother', 'popeurodance', 'dark',
       'vi', 'grunge', 'hardstyle', 'samba', 'garage', 'soft', 'art',
       'folktronica', 'entehno', 'mediterranean', 'chamber', 'cuban',
       'taraftar', 'rockindie', 'gypsy', 'hardtechno', 'shoegazing',
       'skarock', 'bossa', 'salsa', 'latino', 'worldbeat', 'malaysian',
       'baile', 'ghazal', 'loungeelectronic', 'arabic', 'popelectronic',
       'acid', 'kayokyoku', 'neoklassik', 'tribal', 'tanzorchester',
       'native', 'independent', 'cantautori', 'handsup', 'poprussian',
       'punjabi', 'synthpop', 'rave', 'französisch', 'quebecois',
       'speech', 'soulful', 'teen', 'jam', 'ram', 'horror', 'scenic',
       'orchestral', 'neue', 'roots', 'slow', 'jungle', 'indipop', 'axé',
       'fado', 'showtunes', 'arena', 'irish', 'mandopop', 'forró',
       'popdance', 'dirty', 'regional'], dtype=object)

`There are only two cities:`

In [92]:
data["  City  "].unique()

array(['Saint-Petersburg', 'Moscow'], dtype=object)

In [93]:
data.columns = [column.strip().lower() for column in data.columns]
data.columns

Index(['userid', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

In [94]:
data["day"].unique()

_data = data.head(10)

In [95]:
_data[_data["genre"] == "dance"]

,userid,track,artist,genre,city,time,day
4,E2DC1FAE,Soul People,Space Echo,dance,Moscow,08:34:34,Monday
6,4CB90AA5,True,Roman Messer,dance,Moscow,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Moscow,20:47:49,Wednesday
9,E772D5C0,Pessimist,NaN,dance,Saint-Petersburg,21:20:49,Wednesday

In [96]:
_data["genre"]

0      rock
1      rock
2       pop
3      folk
4     dance
5    rusrap
6     dance
7     dance
8    ruspop
9     dance
Name: genre, dtype: object

In [97]:
my_list = [False, True, False, True] + [False] * 6
my_list

[False, True, False, True, False, False, False, False, False, False]

In [98]:
_data[my_list]

,userid,track,artist,genre,city,time,day
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Moscow,14:07:09,Friday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Saint-Petersburg,08:37:09,Monday

In [99]:
data["frog"] = np.where(data["day"] == "Wednesday", "Quack", "Not Quack")

In [100]:
for row in _data.values:
    print(row)

['FFB692EC' 'Kamigata To Boots' 'The Mass Missile' 'rock'
 'Saint-Petersburg' '20:28:33' 'Wednesday']
['55204538' 'Delayed Because of Accident' 'Andreas Rönnberg' 'rock'
 'Moscow' '14:07:09' 'Friday']
['20EC38' 'Funiculì funiculà' 'Mario Lanza' 'pop' 'Saint-Petersburg'
 '20:58:07' 'Wednesday']
['A3DD03C9' 'Dragons in the Sunset' 'Fire + Ice' 'folk' 'Saint-Petersburg'
 '08:37:09' 'Monday']
['E2DC1FAE' 'Soul People' 'Space Echo' 'dance' 'Moscow' '08:34:34'
 'Monday']
['842029A1' 'Преданная' 'IMPERVTOR' 'rusrap' 'Saint-Petersburg' '13:09:41'
 'Friday']
['4CB90AA5' 'True' 'Roman Messer' 'dance' 'Moscow' '13:00:07' 'Wednesday']
['F03E1C1F' 'Feeling This Way' 'Polina Griffith' 'dance' 'Moscow'
 '20:47:49' 'Wednesday']
['8FA1D3BE' 'И вновь продолжается бой' nan 'ruspop' 'Moscow' '09:17:40'
 'Friday']
['E772D5C0' 'Pessimist' nan 'dance' 'Saint-Petersburg' '21:20:49'
 'Wednesday']

In [101]:
_data

,userid,track,artist,genre,city,time,day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Saint-Petersburg,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Moscow,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Saint-Petersburg,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Saint-Petersburg,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Moscow,08:34:34,Monday
5,842029A1,Преданная,IMPERVTOR,rusrap,Saint-Petersburg,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Moscow,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Moscow,20:47:49,Wednesday
8,8FA1D3BE,И вновь продолжается бой,NaN,ruspop,Moscow,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Saint-Petersburg,21:20:49,Wednesday

In [102]:
data.head(10)

,userid,track,artist,genre,city,time,day,frog
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Saint-Petersburg,20:28:33,Wednesday,Quack
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Moscow,14:07:09,Friday,Not Quack
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Saint-Petersburg,20:58:07,Wednesday,Quack
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Saint-Petersburg,08:37:09,Monday,Not Quack
4,E2DC1FAE,Soul People,Space Echo,dance,Moscow,08:34:34,Monday,Not Quack
5,842029A1,Преданная,IMPERVTOR,rusrap,Saint-Petersburg,13:09:41,Friday,Not Quack
6,4CB90AA5,True,Roman Messer,dance,Moscow,13:00:07,Wednesday,Quack
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Moscow,20:47:49,Wednesday,Quack
8,8FA1D3BE,И вновь продолжается бой,NaN,ruspop,Moscow,09:17:40,Friday,Not Quack
9,E772D5C0,Pessimist,NaN,dance,Saint-Petersburg,21:20:49,Wednesday,Quack

In [103]:
data["genre"].unique()

array(['rock', 'pop', 'folk', 'dance', 'rusrap', 'ruspop', 'world',
       'electronic', nan, 'alternative', 'children', 'rnb', 'hip', 'jazz',
       'postrock', 'latin', 'classical', 'metal', 'reggae', 'tatar',
       'blues', 'instrumental', 'rusrock', 'dnb', 'türk', 'post',
       'country', 'psychedelic', 'conjazz', 'indie', 'posthardcore',
       'local', 'avantgarde', 'punk', 'videogame', 'techno', 'house',
       'christmas', 'melodic', 'caucasian', 'reggaeton', 'soundtrack',
       'singer', 'ska', 'shanson', 'ambient', 'film', 'western', 'rap',
       'beats', "hard'n'heavy", 'progmetal', 'minimal', 'contemporary',
       'new', 'soul', 'holiday', 'german', 'tropical', 'fairytail',
       'spiritual', 'urban', 'gospel', 'nujazz', 'folkmetal', 'trance',
       'miscellaneous', 'anime', 'hardcore', 'progressive', 'chanson',
       'numetal', 'vocal', 'estrada', 'russian', 'classicmetal',
       'dubstep', 'club', 'deep', 'southern', 'black', 'folkrock',
       'fitness', 'french', 'disco', 'religious', 'hiphop', 'drum',
       'extrememetal', 'türkçe', 'experimental', 'easy', 'metalcore',
       'modern', 'argentinetango', 'old', 'breaks', 'eurofolk',
       'stonerrock', 'industrial', 'funk', 'jpop', 'middle', 'variété',
       'other', 'adult', 'christian', 'gothic', 'international', 'muslim',
       'relax', 'schlager', 'caribbean', 'ukrrock', 'nu', 'breakbeat',
       'comedy', 'chill', 'newage', 'specialty', 'uzbek', 'k-pop',
       'balkan', 'chinese', 'meditative', 'dub', 'power', 'death',
       'grime', 'arabesk', 'romance', 'flamenco', 'leftfield', 'european',
       'tech', 'newwave', 'dancehall', 'mpb', 'piano', 'top', 'bigroom',
       'opera', 'celtic', 'tradjazz', 'acoustic', 'epicmetal', 'hip-hop',
       'historisch', 'downbeat', 'downtempo', 'africa', 'audiobook',
       'jewish', 'sängerportrait', 'deutschrock', 'eastern', 'action',
       'future', 'electropop', 'folklore', 'bollywood', 'marschmusik',
       'rnr', 'karaoke', 'indian', 'rancheras', 'электроника',
       'afrikaans', 'tango', 'rhythm', 'sound', 'deutschspr', 'trip',
       'lovers', 'choral', 'dancepop', 'podcasts', 'retro', 'smooth',
       'mexican', 'brazilian', 'ïîï', 'mood', 'surf', 'author', 'gangsta',
       'triphop', 'inspirational', 'idm', 'ethnic', 'bluegrass',
       'broadway', 'animated', 'americana', 'karadeniz', 'rockabilly',
       'colombian', 'self', 'hop', 'synthrock', 'sertanejo', 'japanese',
       'canzone', 'swing', 'lounge', 'sport', 'korean', 'ragga',
       'traditional', 'gitarre', 'frankreich', 'alternativepunk', 'emo',
       'laiko', 'cantopop', 'glitch', 'documentary', 'rockalternative',
       'thrash', 'hymn', 'oceania', 'rockother', 'popeurodance', 'dark',
       'vi', 'grunge', 'hardstyle', 'samba', 'garage', 'soft', 'art',
       'folktronica', 'entehno', 'mediterranean', 'chamber', 'cuban',
       'taraftar', 'rockindie', 'gypsy', 'hardtechno', 'shoegazing',
       'skarock', 'bossa', 'salsa', 'latino', 'worldbeat', 'malaysian',
       'baile', 'ghazal', 'loungeelectronic', 'arabic', 'popelectronic',
       'acid', 'kayokyoku', 'neoklassik', 'tribal', 'tanzorchester',
       'native', 'independent', 'cantautori', 'handsup', 'poprussian',
       'punjabi', 'synthpop', 'rave', 'französisch', 'quebecois',
       'speech', 'soulful', 'teen', 'jam', 'ram', 'horror', 'scenic',
       'orchestral', 'neue', 'roots', 'slow', 'jungle', 'indipop', 'axé',
       'fado', 'showtunes', 'arena', 'irish', 'mandopop', 'forró',
       'popdance', 'dirty', 'regional'], dtype=object)

In [104]:
df = pd.read_csv("./real_estate_data.csv", sep="\t")
df.head(10)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16.0,51.00,8,NaN,...,25.00,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11.0,18.60,1,NaN,...,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5.0,34.30,4,NaN,...,8.30,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,NaN,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14.0,32.00,13,NaN,...,41.00,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12.0,14.40,5,NaN,...,9.10,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
6,6,3700000.0,37.30,2017-11-02T00:00:00,1,NaN,26.0,10.60,6,NaN,...,14.40,1.0,посёлок Парголово,52996.0,19143.0,0.0,NaN,0.0,NaN,155.0
7,5,7915000.0,71.60,2019-04-18T00:00:00,2,NaN,24.0,NaN,22,NaN,...,18.90,2.0,Санкт-Петербург,23982.0,11634.0,0.0,NaN,0.0,NaN,NaN
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27.0,15.43,26,NaN,...,8.81,NaN,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189.0
9,18,5400000.0,61.00,2017-02-26T00:00:00,3,2.50,9.0,43.60,7,NaN,...,6.50,2.0,Санкт-Петербург,50898.0,15008.0,0.0,NaN,0.0,NaN,289.0

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23699 entries, 0 to 23698
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   total_images          23699 non-null  int64
 1   last_price            23699 non-null  float64
 2   total_area            23699 non-null  float64
 3   first_day_exposition  23699 non-null  object
 4   rooms                 23699 non-null  int64
 5   ceiling_height        14504 non-null  float64
 6   floors_total          23613 non-null  float64
 7   living_area           21796 non-null  float64
 8   floor                 23699 non-null  int64
 9   is_apartment          2775 non-null   object
 10  studio                23699 non-null  bool
 11  open_plan             23699 non-null  bool
 12  kitchen_area          21421 non-null  float64
 13  balcony               12180 non-null  float64
 14  locality_name         23650 non-null  object
 15  airports_nearest      18157 non-null  float64
 16  cityCenters_nearest   18180 non-null  float64
 17  parks_around3000      18181 non-null  float64
 18  parks_nearest         8079 non-null   float64
 19  ponds_around3000      18181 non-null  float64
 20  ponds_nearest         9110 non-null   float64
 21  days_exposition       20518 non-null  float64
dtypes: bool(2), float64(14), int64(3), object(3)
memory usage: 3.7+ MB

In [106]:
print(f"{abs((len(df.dropna(subset=['is_apartment']))) / len(df) - 1):.2%}")

88.29%

In [108]:
df["is_apartment"] = df["is_apartment"].fillna(None)

ValueError: Must specify a fill 'value' or 'method'.

In [ ]:
df.head(10)

,total_images,last_price,total_area,first_day_exposition,rooms,ceiling_height,floors_total,living_area,floor,is_apartment,...,kitchen_area,balcony,locality_name,airports_nearest,cityCenters_nearest,parks_around3000,parks_nearest,ponds_around3000,ponds_nearest,days_exposition
0,20,13000000.0,108.00,2019-03-07T00:00:00,3,2.70,16.0,51.00,8,False,...,25.00,NaN,Санкт-Петербург,18863.0,16028.0,1.0,482.0,2.0,755.0,NaN
1,7,3350000.0,40.40,2018-12-04T00:00:00,1,NaN,11.0,18.60,1,False,...,11.00,2.0,посёлок Шушары,12817.0,18603.0,0.0,NaN,0.0,NaN,81.0
2,10,5196000.0,56.00,2015-08-20T00:00:00,2,NaN,5.0,34.30,4,False,...,8.30,0.0,Санкт-Петербург,21741.0,13933.0,1.0,90.0,2.0,574.0,558.0
3,0,64900000.0,159.00,2015-07-24T00:00:00,3,NaN,14.0,NaN,9,False,...,NaN,0.0,Санкт-Петербург,28098.0,6800.0,2.0,84.0,3.0,234.0,424.0
4,2,10000000.0,100.00,2018-06-19T00:00:00,2,3.03,14.0,32.00,13,False,...,41.00,NaN,Санкт-Петербург,31856.0,8098.0,2.0,112.0,1.0,48.0,121.0
5,10,2890000.0,30.40,2018-09-10T00:00:00,1,NaN,12.0,14.40,5,False,...,9.10,NaN,городской посёлок Янино-1,NaN,NaN,NaN,NaN,NaN,NaN,55.0
6,6,3700000.0,37.30,2017-11-02T00:00:00,1,NaN,26.0,10.60,6,False,...,14.40,1.0,посёлок Парголово,52996.0,19143.0,0.0,NaN,0.0,NaN,155.0
7,5,7915000.0,71.60,2019-04-18T00:00:00,2,NaN,24.0,NaN,22,False,...,18.90,2.0,Санкт-Петербург,23982.0,11634.0,0.0,NaN,0.0,NaN,NaN
8,20,2900000.0,33.16,2018-05-23T00:00:00,1,NaN,27.0,15.43,26,False,...,8.81,NaN,посёлок Мурино,NaN,NaN,NaN,NaN,NaN,NaN,189.0
9,18,5400000.0,61.00,2017-02-26T00:00:00,3,2.50,9.0,43.60,7,False,...,6.50,2.0,Санкт-Петербург,50898.0,15008.0,0.0,NaN,0.0,NaN,289.0